---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">
	  Posted on {{ post.date | date: "%b %-d, %Y" }}
	{%if post.categories[0] %} in {% endif %}
	{% for cat in post.categories %}
          <a href="/blog/category/{{cat}}/">{{cat}}</a>{%if cat != post.categories.last %}, {% endif %}
	{% endfor %}
      &middot; <a href="{{ post.url | prepend: site.url }}#disqus_thread">Comments</a>
	</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

  <div class="content">
    {{ post.content }}
  </div>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
{% if paginator.next_page %}
  <a class="prevlink" href="{{ paginator.next_page_path }}">Older posts</a>
{% endif %}
{% if paginator.previous_page %}
  <a class="nextlink" href="{{ paginator.previous_page_path }}">Newer posts</a>
{% endif %}
  </div>
</div>
