<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="css/style.css", trailing_slash=false) | safe }}">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  </head>
  <body>
    <header>
      <div class="wrapper">
      <h1 class="home"><a href="{{ get_url(path="") | safe }}">{{ config.title }}</a></h1>

      <ul class="nav">
      {% for item in config.extra.header_links %}
        <li class="nav-item{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %} navitem-active{% endif %}"><a href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
      </div>
    </header>

    <main>
      <div class="wrapper">
    {% block content %}
    {% endblock content %}
      </div>
    </main>

    <footer></footer>
  </body>
</html>
