{% extends "base.html" %}

{% block content %}

{{ section.content | safe }}


{% set section = get_section(path="blog/_index.md") %}

<h2>Latest Posts</h2>

<ul class="postlist">
    {% for page in section.pages | slice(start=0, end=3) %}
      <li class="postlist-item">
        <a href="{{ page.permalink }}" class="postlist-link">{{ page.title | markdown(inline=true) | safe }}</a><br>
        <time class="postlist-date" datetime="{{ page.date }}">{{ page.date | date(format="%e %h %Y") }}</time>
      </li>
    {% endfor %}
</ul>
<a href="blog/">More...</a>
{% endblock content %}
